#mybar{
    float: left;
    width: 15%;
}
#equipment_img{
    position: absolute;;
    width: 30px;
    height: 30px;
    top:60px;
    left:20px;
}
#box{
    border-width:4px;
    border-style:solid;
    border-radius:5%;
    width: 200px;
    height: 350px;
    margin: auto
  }

#figure{
    background:url("../image/background.png");
    width: 200px;
    height: 150px;
    margin: auto
  }
#potentialDisplay{
    color:white;
    background-color:#000088
}
#potentialBox{
    width: 200px;
    height: 150px;
    margin: auto
  }
#operationButton{
    text-align:center
}
#usingEquipment{
    position:relative;
    width: 40px;
    height: 40px;
    top:75px;
    left:80px;
}